<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Tornado14.TrayApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Solutronic.TrayApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <Tornado14.TrayApp.Properties.Settings>
      <setting name="DataFolder" serializeAs="String">
        <value>c:\trayData\</value>
      </setting>
      <setting name="backColor" serializeAs="String">
        <value>30, 30, 30</value>
      </setting>
      <setting name="subItemBackColor" serializeAs="String">
        <value>30, 30, 30</value>
      </setting>
      <setting name="borderColor" serializeAs="String">
        <value>63, 63, 63</value>
      </setting>
      <setting name="SubItemBorderColor" serializeAs="String">
        <value>63, 63, 63</value>
      </setting>
      <setting name="foreColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="subItemForeColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="selectedBackColor" serializeAs="String">
        <value>63, 63, 63</value>
      </setting>
      <setting name="subItemSelectedBackColor" serializeAs="String">
        <value>63, 63, 63</value>
      </setting>
      <setting name="groupColor" serializeAs="String">
        <value>44, 106, 94</value>
      </setting>
    </Tornado14.TrayApp.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
